*{
    padding:0%;
    margin: 0;
    border: 0;
}
.nav, .section, .aside {
    display: inline-block;
    border: 2px solid black;
    justify-content: space-between;
    background: linear-gradient(to right bottom,#666666,white);
    /* background: linear-gradient(to right bottom, #648880, #293f50); */
}
.nav h4{
    margin-right: 200px;
    text-align: center;
    height: 100px;
    width:40%;
    
}

.section h4{
    margin-right: 200px;
    text-align: center;
    height: 100px;
    width:40%;

}

.aside h4{
    margin-right: 200px;
    text-align: center;
    height: 100px;
    width:40%;
}
