*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.first-line{
    border-top: 3px solid black;
    width:60%;
    margin-left: 200px;
}
.nav h1{
    padding-left: 200px;
}
.nav h4{
    color: rgb(141, 246, 141);
    padding-left: 200px;

}
.nav h5{
    width: 6%;
    padding-left: 200px;
}
.section h4 {
    margin-bottom: 2px;
    color: rgb(141, 246, 141);
 
}

.section h5 {
    padding-top:0.2px;
    width:20%;
}

.section h4,.section h5{
    padding-left: 200px;
    

}
.section1 h4{
    padding-left: 200px;
    color: rgb(141, 246, 141);
}

.section1 h5{

   width:10%;

}
.section1 h3,.section1 h5{
    padding-left: 200px;
    margin: 0;
}
.section1 h3{
    color: skyblue
}

.section2 h4{
   padding-left: 200px;
    color: rgb(141, 246, 141);
    
}
.section2 h3,.section2 h5{
    padding-left: 200px;
    margin: 0;
}
.section2 h3{
    color: skyblue
}

.list{
    padding-left: 180px;
}
.list h5{
     padding-left: 20px;
     margin-bottom: 20px;

}


.aside h3,.aside h5{
    padding-left: 200px;
    margin: 0;
}
.aside h3{
    color: skyblue;
}

.list{
    padding-left: 180px;
}
.list h5{
        padding-left: 20px;
        
}
.footer{
    padding-left: 200px;
}
.footer h4{
        color: rgb(141, 246, 141);
}
