* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.main {
  width: 60%;
  min-height: 15vh;
  border: 2px solid black;
  padding: 5%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right bottom, #b46767, white);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin:0;
}
.logo h1 {
  padding-left: 8px;
  margin-top:100px;


}
.nav ol {
  list-style-type: none;
  gap: 15px;
  padding-right: 210px;

}
.nav li {
  color: rgb(104, 200, 238);
        margin:0;

}
.profile img{
  width:170px;
  height:170px;
  border-radius:50%;
}
.header {
  padding: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 0;
}
.header h1 {
  margin-bottom: 0;
}
.vertical {
  border-top: 1px solid black;
  width: 114%;
  margin-top: 0;
  align-self: center;
}
.vertical1 {
  border-top: 1px solid black;
  width: 114%;
  margin: 30px 0;
  align-self: center;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}
.box,
.box1 {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.box h4,
.box1 h4 {
  margin-top: 10px;
  color: rgb(6, 238, 161);
  font-family: Arial, Helvetica, sans-serif;
}
.box ol,
.box1 ol {
  list-style-type: none;
  border-top: 2px solid black;
  margin-top: 15px;
  padding-top: 15px;
}
.box h5,
.box1 h5 {
  margin: 10px;
  color: rgb(240, 82, 30);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box li,
.box1 li {
  margin-top: 10px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 0;
}
.box3 {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.box4 {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.box3 h4,
.box4 h4 {
  margin-top: 10px;
  color: rgb(6, 238, 161);
  font-family: Arial, Helvetica, sans-serif;
}
.box3 ol,
.box4 ol {
  list-style-type: none;
  border-top: 2px solid black;
  margin-top: 10px;
  padding-top: 10px;
}
.box3 li,
.box4 li {
  margin-top: 10px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.box3 h5,
.box4 h5 {
  margin: 10px;
  color: rgb(240, 82, 30);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box4 h5{
    margin-top: 10px;
}
