* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;

}
.main {
  width: 70%;
  min-height: 15vh;
  border: 2px solid black;
  padding: 5%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right bottom,#b46767,white);

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin:0;
}
.logo h1 {
  padding-left: 8px;
}
.nav ol {
  list-style-type: none;
  gap: 15px;
  padding-right:210px;;
}
.nav li {
  cursor: pointer;
  color: rgb(104, 200, 238);
}

.header{
padding: 40px;
text-align: center;
margin:0;
margin-bottom: 0;

}
.header h1{
    margin-bottom: 0;
}
.vertical{
 border-top: 1px solid black;
  width: 114%;
  margin-top:0;
  align-self: center;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.box {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.box1 {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.box h4,
.box1 h4 {
  margin-top: 10px;
  color: rgb(6, 238, 161);
  font-family: Arial, Helvetica, sans-serif;
}

.box ol,
.box1 ol {
  list-style-type: none;
  border-top: 2px solid black;
  margin-top: 15px;
  padding-top: 15px;
}

.box li,
.box1 li {
  margin-top: 15px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box h5,
.box1 h5 {
  margin:10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(240, 82, 30);
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 0;
}

.box3 {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.box4 {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.box3 h4,
.box4 h4 {
  margin-top: 10px;
  color: rgb(6, 238, 161);
  font-family: Arial, Helvetica, sans-serif;
}

.box3 ol,
.box4 ol {
  list-style-type: none;
  border-top: 2px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

.box3 li,
.box4 li {
  margin-top: 10px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box3 h5,
.box4 h5 {
  margin: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(240, 82, 30);
}


