*{
    padding:0;
    margin: 0;
    border: 0;
}

.header {
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
    text-align: center;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: skyblue;
    text-align: center;
}

h1 {
    padding: 16px;
    margin: 0;
}


.content{
    display: flex;
    justify-content: space-between;
     margin: 10px;

}

.section {
    background-color: gray;
    width: 57%;
    height: 450px;
    text-align: center;
    box-sizing: border-box;
    float: left;
}

.article {
    background-color: pink;
    width: 70%;
    height: 200px;
    margin: 50px auto; 
}


.aside {
    background-color: darkkhaki;
    width: 42%;
    height: 450px;
    text-align: center;
}
.first{
     margin-bottom: 22px;
}